
.botan:hover {
    background-color: lightcoral;
}
.botan {
  background: gray;
  padding: 34px;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;

  border: 1px solid black;
  cursor: pointer;
  margin: 10px;
  width: 100px;
  height: 100px;
}
/* .botan:active {
  background: red;
} */
/* .tyousei { */
  /* display: block;
  height: 30px;
  padding: 40px; */
 
/* } */