.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.ground {
  background: gray;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 100px;
}


